# Case Study #04 - Hypothesis Testing

A company started to invest in digital marketing as a new way of their product
promotions.For that they collected data and decided to carry out a study on it.

● The company wishes to clarify whether there is any increase in sales after stepping into digital marketing.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats

In [2]:
data= pd.read_csv('Sales_add (1).csv')

In [5]:
data.head()

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402

In [6]:
data.describe()#computes a summary of statistics pertaining to the DataFrame columns

       Sales_before_digital_add(in $)  Sales_After_digital_add(in $)
count                       22.000000                      22.000000
mean                    149239.954545                  231123.727273
std                      14844.042921                   25556.777061
min                     130263.000000                  187305.000000
25%                     138087.750000                  214960.750000
50%                     147444.000000                  229986.500000
75%                     157627.500000                  250909.000000
max                     178939.000000                  276279.000000

insights:there is an increase in sales after stepping into digital marketing.

In [7]:
data.info()#information about a DataFrame including the index dtype and column dtypes, non-null values and memory usage

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 5 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Month                           22 non-null     object
 1   Region                          22 non-null     object
 2   Manager                         22 non-null     object
 3   Sales_before_digital_add(in $)  22 non-null     int64
 4   Sales_After_digital_add(in $)   22 non-null     int64
dtypes: int64(2), object(3)
memory usage: 1008.0+ bytes

In [8]:
data[['Sales_before_digital_add(in $)','Sales_After_digital_add(in $)']].describe()

       Sales_before_digital_add(in $)  Sales_After_digital_add(in $)
count                       22.000000                      22.000000
mean                    149239.954545                  231123.727273
std                      14844.042921                   25556.777061
min                     130263.000000                  187305.000000
25%                     138087.750000                  214960.750000
50%                     147444.000000                  229986.500000
75%                     157627.500000                  250909.000000
max                     178939.000000                  276279.000000

insights:there is an increase in sales after stepping into digital marketing.

set hypothesis:

#Null Hypothesis:there is no increase in sales after stepping into digital marketing.

#Alternate Hypothesis: there is increase in sales after stepping into digital marketing.

In [10]:
ttest,pval = stats.ttest_rel(data['Sales_before_digital_add(in $)'],data['Sales_After_digital_add(in $)'])
print(pval)

6.336667004575778e-11

insights:since p _value is greater than 0.05 we fail to reject null hypothesis.

In [11]:
if pval<0.05:
    print("reject null hypothesis")
else:
    print("accept null hypothesis")

reject null hypothesis

since p_value is greater than alpha value 0.05,we reject null hypothesis and accept alternate hypothesis that there is an increase in sales after stepping into digital marketing

# ● The company needs to check whether there is any dependency between the features “Region” and “Manager”.

set hypothesis¶

#Null Hypothesis:there is no dependency between the features “Region” and “Manager”.

#Alternate Hypothesis: there is dependency between the features “Region” and “Manager”.

#alpha=0.05

In [13]:
data1=data.groupby('Region').mean()
data1

            Sales_before_digital_add(in $)  Sales_After_digital_add(in $)
Region
Region - A                   148204.900000                  238853.100000
Region - B                   150523.571429                  228727.857143
Region - C                   149513.000000                  219019.200000

In [21]:
data1.mean()

Sales_before_digital_add(in $)    149413.823810
Sales_After_digital_add(in $)     228866.719048
dtype: float64

In [14]:
data2=data.groupby('Manager').mean()
data2

             Sales_before_digital_add(in $)  Sales_After_digital_add(in $)
Manager
Manager - A                   145875.222222                  244402.666667
Manager - B                   155499.285714                  218899.142857
Manager - C                   146984.500000                  225467.333333

In [22]:
data2.mean()

Sales_before_digital_add(in $)    149453.002646
Sales_After_digital_add(in $)     229589.714286
dtype: float64

In [15]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 5 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Month                           22 non-null     object
 1   Region                          22 non-null     object
 2   Manager                         22 non-null     object
 3   Sales_before_digital_add(in $)  22 non-null     int64
 4   Sales_After_digital_add(in $)   22 non-null     int64
dtypes: int64(2), object(3)
memory usage: 1008.0+ bytes

insight:22 entries,so we perforn t test

In [23]:
t_value,p_value =stats.ttest_ind(data1['Sales_before_digital_add(in $)'],data2['Sales_before_digital_add(in $)'])

In [24]:
print(float(p_value))

0.9905619409767316

In [25]:
print(float(t_value))

-0.012584493888729684

In [26]:
if p_value<0.05:
    print("reject null hypothesis")
else:
    print("accept null hypothesis")

accept null hypothesis

insights:it accept null hypothesis ,ie:there is no dependency between the features “Region” and “Manager”.